// If container is NOT split into 1:2 ratio: < XS 1 column; XS 2 columns; SM 2 columns; MD 3 columns; LG 4 columns; XL 5 columns
.recipe-card-list.recipe-card-list--full {
	@apply grid gap-4;

	.recipe-card {
		grid-column: span 2;
	}

	// 1 column
	grid-template-columns: repeat(2, 1fr);

	// 2 columns on XS
	@screen xs {
		grid-template-columns: repeat(4, 1fr);

		// Center final recipe card if 1 left over
		.recipe-card:last-child:nth-child(2n - 1) {
			grid-column-end: 4;
		}
	}

	// 2 columns on SM
	@screen sm {
		grid-template-columns: repeat(4, 1fr);

		// Center final recipe card if 1 left over
		.recipe-card:last-child:nth-child(2n - 1) {
			grid-column-end: 4;
		}
	}

	// 3 columns on MD
	@screen md {
		grid-template-columns: repeat(6, 1fr);

		// Remove 2 col styling
		.recipe-card:last-child:nth-child(2n - 1) {
			grid-column-end: auto;
		}

		// Center final recipe cards if 2 left over
		.recipe-card:last-child:nth-child(3n - 1) {
			grid-column-end: -2;
		}

		.recipe-card:nth-last-child(2):nth-child(3n + 1) {
			grid-column-end: 4;
		}

		// Center final recipe card if 1 left over
		.recipe-card:last-child:nth-child(3n - 2) {
			grid-column-end: 5;
		}
	}

	// 4 columns on LG
	@screen lg {
		grid-template-columns: repeat(8, 1fr);

		// Remove 3 col styling
		.recipe-card:last-child:nth-child(3n - 1) {
			grid-column-end: auto;
		}

		.recipe-card:nth-last-child(2):nth-child(3n + 1) {
			grid-column-end: auto;
		}

		.recipe-card:last-child:nth-child(3n - 2) {
			grid-column-end: auto;
		}

		// Center final recipe cards if 3 left over
		.recipe-card:nth-last-child(3):nth-child(4n + 1) {
			grid-column-end: 4;
		}

		.recipe-card:last-child:nth-child(4n - 1) {
			grid-column-end: 8;
		}

		// Center final recipe cards if 2 left over
		.recipe-card:nth-last-child(2):nth-child(4n + 1) {
			grid-column-end: 5;
		}

		// Center final recipe card if 1 left over
		.recipe-card:last-child:nth-child(4n - 3) {
			grid-column-end: 6;
		}
	}

	// 5 columns on XL
	@screen xl {
		grid-template-columns: repeat(10, 1fr);

		// Remove 4 col styling
		.recipe-card:last-child:nth-child(3n - 2) {
			grid-column-end: auto;
		}

		.recipe-card:nth-last-child(2):nth-child(3n + 1) {
			grid-column-end: auto;
		}

		.recipe-card:last-child:nth-child(3n - 3) {
			grid-column-end: auto;
		}

		.recipe-card:nth-last-child(3):nth-child(4n + 1) {
			grid-column-end: auto;
		}

		.recipe-card:last-child:nth-child(4n - 1) {
			grid-column-end: auto;
		}

		.recipe-card:nth-last-child(2):nth-child(4n + 1) {
			grid-column-end: auto;
		}

		.recipe-card:last-child:nth-child(4n - 3) {
			grid-column-end: auto;
		}

		// Center final recipe cards if 4 left over
		.recipe-card:nth-last-child(4):nth-child(5n + 1) {
			grid-column-end: 4;
		}

		.recipe-card:last-child:nth-child(5n - 1) {
			grid-column-end: 10;
		}

		// Center final recipe cards if 3 left over
		.recipe-card:nth-last-child(3):nth-child(5n + 1) {
			grid-column-end: 5;
		}

		.recipe-card:last-child:nth-child(5n - 2) {
			grid-column-end: 9;
		}

		// Center final recipe cards if 2 left over
		.recipe-card:nth-last-child(2):nth-child(5n + 1) {
			grid-column-end: 6;
		}

		.recipe-card:last-child:nth-child(5n - 3) {
			grid-column-end: 8;
		}

		// Center final recipe card if 1 left over
		.recipe-card:last-child:nth-child(5n - 4) {
			grid-column-end: 7;
		}
	}
}

// // If container is split into 1:2 ratio: < XS 1 column; XS 2 columns; SM 2 columns; MD 2 columns; LG 3 columns; XL 4 columns
.recipe-card-list.recipe-card-list--1-2 {
	@apply grid gap-4;

	.recipe-card {
		grid-column: span 2;
	}

	// 1 column
	grid-template-columns: repeat(2, 1fr);

	// 2 columns on XS
	@screen xs {
		grid-template-columns: repeat(4, 1fr);

		// Center final recipe card if 1 left over
		.recipe-card:last-child:nth-child(2n - 1) {
			grid-column-end: 4;
		}
	}

	// 2 columns on SM
	@screen sm {
		grid-template-columns: repeat(4, 1fr);

		// Center final recipe card if 1 left over
		.recipe-card:last-child:nth-child(2n - 1) {
			grid-column-end: 4;
		}
	}

	// 2 columns on MD
	@screen md {
		grid-template-columns: repeat(4, 1fr);

		// Center final recipe card if 1 left over
		.recipe-card:last-child:nth-child(2n - 1) {
			grid-column-end: 4;
		}
	}

	// 3 columns on LG
	@screen lg {
		grid-template-columns: repeat(6, 1fr);

		// Remove 2 col styling
		.recipe-card:last-child:nth-child(2n - 1) {
			grid-column-end: auto;
		}

		// Center final recipe cards if 2 left over
		.recipe-card:last-child:nth-child(3n - 1) {
			grid-column-end: -2;
		}

		.recipe-card:nth-last-child(2):nth-child(3n + 1) {
			grid-column-end: 4;
		}

		// Center final recipe card if 1 left over
		.recipe-card:last-child:nth-child(3n - 2) {
			grid-column-end: 5;
		}
	}
}
