.DialogOverlay {
	@apply z-modalOverlay inset-0 bg-black-50 fixed;

	&--nested {
		@apply z-modalOverlayNested;
	}
}

.DialogContent {
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	@apply bg-white overflow-y-scroll z-modal rounded-xl w-[90vw] max-h-[90vh] max-w-6xl;

	&--nested {
		@apply z-modalNested w-[80vw] max-w-5xl;
	}
}

.DialogContent:focus {
	outline: none;
}
