.DialogOverlay {
	@apply z-modalOverlay inset-0 bg-background-overlay fixed;

	&--nested {
		@apply z-modalOverlayNested;
	}
}

.DialogContent {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	@apply bg-white overflow-y-scroll z-modal rounded-xl w-[90vw] max-h-[90vh] max-w-6xl shadow-hover;

	&--nested {
		@apply z-modalNested w-[80vw] max-w-5xl;
	}

	&--sm {
		@apply max-w-md;
	}

	&--md {
		@apply max-w-2xl;
	}
}

.DialogContent:focus {
	outline: none;
}
