.nav__hamburger {
	width: 45px;
	height: 30px;
	position: relative;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

.nav__hamburger span {
	@apply bg-body-light;

	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}

.nav__hamburger span:nth-child(1) {
	top: 0px;
}

.nav__hamburger span:nth-child(2),
.nav__hamburger span:nth-child(3) {
	top: 15px;
}

.nav__hamburger span:nth-child(4) {
	top: 30px;
}

.nav__hamburger.nav__hamburger--open span:nth-child(1) {
	top: 15px;
	width: 0%;
	left: 50%;
}

.nav__hamburger.nav__hamburger--open span:nth-child(2) {
	transform: rotate(45deg);
}

.nav__hamburger.nav__hamburger--open span:nth-child(3) {
	transform: rotate(-45deg);
}

.nav__hamburger.nav__hamburger--open span:nth-child(4) {
	top: 15px;
	width: 0%;
	left: 50%;
}

.nav__menu {
	position: fixed;
	top: 0;
	right: -100vw;
	width: 100vw;
	height: 100vh;
}

.nav__menu--open {
	right: 0;
}
