.btn {
    @apply text-black border-black bg-white inline-flex items-center justify-center flex-shrink-0 px-4 py-2 border rounded-lg w-fit;
    min-width: 150px;
    transition: $a-short ease-in-out;

    &:hover {
        @apply underline text-white bg-black;
        transform: $a-scale-lg;
    }

    // Secondary
    &--secondary {
        @apply text-purple-500 border-purple-500 bg-white;

        // Hover
        &:hover {
            @apply text-white bg-purple-500;
        }
    }
}