.btn {
    @apply text-black border-black bg-white inline-flex items-center justify-center flex-shrink-0 px-4 py-2 border rounded-lg w-fit cursor-pointer relative duration-sm ease-in-out;
    min-width: 150px;

    &__tooltip {
        @apply absolute overflow-hidden flex items-center justify-center text-black border border-black bg-white rounded-full h-6 w-6;

        font-size: 12px;
        top: -10px;
        right: -10px;
    }

    // Text
    &__text {
        @apply inline-block relative capitalize;

        &:after {
            @apply bg-white duration-sm ease-in-out;

            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            transform-origin: bottom left;
        }
    }

    &:hover {
        @apply text-white bg-black scale-lg;

        .btn__text:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

    // Secondary
    &--secondary {
        @apply text-purple border-purple bg-white;

        .btn__tooltip {
            @apply text-purple border-purple;
        }

        // Hover
        &:hover {
            @apply text-white bg-purple;
        }
    }

    &--no-hover {
        pointer-events: none;
    }
}