.toggle {
    @apply overflow-hidden;

    .toggle-switch {
        @apply flex text-center relative bg-gray-400 rounded-lg overflow-hidden;
    
        &__input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    
        &__option {
            @apply w-1/2 px-4 py-2 cursor-pointer text-white z-1 capitalize;
        }
    
        &__slider {
            @apply h-full w-1/2 bg-purple absolute rounded-lg duration-md ease-in-out;
        }
    }
    
    &--boxed {
        @apply shadow-card bg-white;
        border-radius: 1.5rem;

        .toggle-switch {
            border-radius: 1.5rem;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &__slider {
                border-radius: 0;
            }
        }

        .toggle-box {
            @apply border-2 border-t-0 border-black p-4 overflow-hidden;

            border-bottom-left-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }
    }

    &--fixed {
        .toggle-switch-wrapper {
            @apply container fixed top-0 left-0 right-0 z-search pt-nav-padding md:pt-nav-padding-md lg:pt-nav-padding-lg pb-6 bg-opacity-80 bg-grey-bg;
        }

        .toggle-box__content {
            padding-top: 5px;
        }
    }
}