.accordion {
    @apply border-2 border-purple bg-white rounded overflow-hidden shadow-card;

    &__button {
        @apply flex justify-between p-3 border-b border-purple;
    }

    .accordion__item:last-child .accordion__button {
        @apply border-b-0;
    }

    &__trigger {
        @apply w-full flex items-center justify-between;

        &:after {
            content: "❯";
            transition: all .3s;
        }
    }

    &__trigger[data-state="open"] {
        &:after {
            transform: rotate(90deg);
        }
    }
    
    &__content-wrapper {
        @apply border-b-2 border-b-purple;
    }
    
    &__content {
        @apply px-5 py-2;
    }
    
    .accordion__item:last-child .accordion__content-wrapper {
        @apply border-b-0 border-t border-purple;
    }
}