/* reset */
button {
	all: unset;
}

.SwitchRoot {
	@apply w-[42px] h-[25px] bg-black rounded-full relative;
}

.SwitchRoot[data-state='checked'] {
	@apply bg-black;
}

.SwitchThumb {
	@apply block w-[21px] h-[21px] bg-white rounded-full;

	transition: transform 300ms;
	transform: translateX(2px);
	will-change: transform;
}

.SwitchThumb[data-state='checked'] {
	transform: translateX(19px);
}
