.navbar {
    @apply flex bg-grey-bg shadow-top fixed bottom-0 left-0 right-0 z-nav md:top-0 md:bottom-auto md:shadow-bottom md:p-4;

    height: 12.5vh;

    @screen md {
        height: auto;
    }

    &__wrapper {
        @apply flex items-center w-full md:justify-between md:flex-wrap lg:justify-end lg:space-x-4 lg:flex-nowrap;

        max-width: 900px;

        @screen lg {
            max-width: 1200px;
        }
    }
}

main {
    @apply pb-nav-padding;

    @screen md {
        @apply pb-8 pt-nav-padding-md;
    }

    @screen lg {
        @apply pt-nav-padding-lg;
    }
}