/* reset */
button {
	all: unset;
}

.SwitchRoot {
	@apply w-[46px] h-[29px] bg-disabled rounded-full relative;
}

.SwitchRoot[data-state='checked'] {
	@apply bg-green;
}

.SwitchThumb {
	@apply block w-[21px] h-[21px] bg-white rounded-full;

	transition: transform 300ms;
	transform: translateX(4px);
	will-change: transform;
}

.SwitchThumb[data-state='checked'] {
	transform: translateX(20px);
}
