.icon {
	@apply flex flex-col md:flex-row items-center duration-sm ease-in-out;

	// SVGs
	svg {
		@apply primary inline-flex items-center justify-center flex-shrink-0 h-4 w-4 p-2 border-2 rounded-full duration-sm ease-in-out;
	}

	// Text
	&__text {
		@apply text-black inline-block relative capitalize;

		&:after {
			@apply bg-black duration-sm ease-in-out;

			content: '';
			position: absolute;
			width: 100%;
			transform: scaleX(0);
			height: 2px;
			bottom: 0;
			left: 0;
			transform-origin: bottom left;
		}
	}

	// Hover
	&:hover {
		@apply scale-lg;

		.icon__text:after {
			transform: scaleX(1);
			transform-origin: bottom left;
		}
	}

	// Secondary
	&--secondary {
		// SVGs
		svg {
			@apply secondary;
		}

		// Text
		.icon__text {
			@apply text-purple;

			&:after {
				@apply bg-purple;
			}
		}
	}

	// Outline
	&--outline {
		// SVGs
		svg {
			@apply primary-outline;
		}

		// Text
		.icon__text {
			@apply text-black;

			&:after {
				@apply bg-black;
			}
		}

		// Hover
		&:hover {
			svg {
				@apply primary-outline--hover;
			}
		}

		// Active
		&.icon--active {
			// SVGs
			svg {
				@apply primary;
			}

			.icon__text:after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}

		// Active
		&.icon--inactive {
			// SVGs
			svg {
				@apply text-grey-inactive bg-white border-grey-inactive;
			}
		}

		&.icon--secondary {
			// SVGs
			svg {
				@apply secondary-outline;
			}

			// Text
			.icon__text {
				@apply text-purple;

				&:after {
					@apply bg-purple;
				}
			}

			// Hover
			&:hover {
				svg {
					@apply secondary-outline--hover;
				}
			}

			// Active
			&.icon--active {
				// SVGs
				svg {
					@apply secondary;
				}
			}
		}
	}

	&--inactive {
		// SVGs
		svg {
			@apply bg-grey-inactive border-grey-inactive;
		}

		// Text
		.icon__text {
			@apply bg-grey-inactive;

			&:after {
				@apply bg-grey-inactive;
			}
		}

		&:hover {
			transform: none;
		}
	}

	&--no-hover {
		&:hover {
			transform: none;
		}
	}
}
