.container {
    @apply px-4 mx-auto;

    width: 100%;
    max-width: 1200px;

    &--sm {
        width: 80%;
        max-width: calc(1200px * 0.8);
    }

    &--xsm {
        width: 60%;
        max-width: calc(1200px * 0.6);
    }
}