.container {
    @apply px-4 mx-auto;

    width: 100%;
    max-width: 1200px;

    &--sm {
        width: 80%;
        max-width: calc(1200px * 0.8);
    }

    &--xsm {
        width: 60%;
        max-width: calc(1200px * 0.6);
    }
}

.columns {
    @screen lg {
        @apply flex mx-auto;
        max-width: 1200px;
        
        .column--25 {
            width: 25%;
        }
        
        .column--33 {
            width: 33%;
        }
        
        .column--50 {
            width: 50%;
        }
        
        .column--66 {
            width: 66%;
        }
        
        .column--75 {
            width: 75%;
        }
    }  
}

// For scrolling containers http://jsfiddle.net/tvysB/2/