.quantity-input-container {
	display: flex;
	width: 0;
	transition: width 0.3s ease;
	overflow: hidden;

	&--expanded {
		width: 82px;
	}

	input {
		text-align: center;
		width: 40px;
		flex-shrink: 0;

		&:focus-visible {
			outline: 0;
		}
	}

	> div {
		flex-shrink: 0;
	}
}

.quantity-input-confirm {
	@apply absolute bottom-[-19px] w-fit text-center underline cursor-pointer bg-white border border-borderDark border-t pb-0.5 px-1;

	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}

.fade {
	transition: opacity 0.3s ease;
}
