.tabs {
	outline: 2px solid !important;
	margin-bottom: 2px;
	@apply flex justify-between rounded-full relative
		bg-green-light outline-green;
}

.tabs-toggle {
	transition: left 0.3s ease;

	@apply absolute h-full p-1;
}

.tab {
	@apply flex-1 text-center py-2 transition duration-300 ease-in-out relative;
}

[data-state='active'][data-active-class] {
	@apply font-semibold text-white;
}
