[data-state='active'][data-active-class] {
	@apply text-black font-bold;
}

.underline-header-toggle {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: width 0.3s ease;
	@apply bg-black;
}

[data-state='active'] .underline-header-toggle {
	width: 100%;
}
