.Toastify {
    &__toast-theme--light {
        @apply bg-white text-black rounded-sm shadow-lg border border-grey-inactive;

        font-family: inherit;
    }

    &__toast--info {
        &.Toastify__toast-theme--light {
            @apply border-purple;
        }

        .Toastify__progress-bar {
            @apply bg-purple;
        }

        .Toastify__toast-icon svg {
            @apply fill-purple;
        }
    }

    &__toast--error {
        &.Toastify__toast-theme--light {
            @apply border-error;
        }

        .Toastify__progress-bar {
            @apply bg-error;
        }

        .Toastify__toast-icon svg {
            @apply fill-error;
        }
    }

    &__toast--success {
        &.Toastify__toast-theme--light {
            @apply border-success;
        }

        .Toastify__progress-bar {
            @apply bg-success;
        }

        .Toastify__toast-icon svg {
            @apply fill-success;
        }
    }

    &__toast--warning {
        &.Toastify__toast-theme--light {
            @apply border-warning;
        }

        .Toastify__progress-bar {
            @apply bg-warning;
        }

        .Toastify__toast-icon svg {
            @apply fill-warning;
        }
    }
}

.Toastify__toast-container.Toastify__toast-container--top-right {
    @screen md {
        top: auto;
        bottom: 1em;
        right: 1em;
    }
}