
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .primary {
        @apply text-white border-black bg-black;
    }

    .primary--hover {
        @apply text-black border-black bg-white;
    }

    .primary-outline {
        @apply text-black border-black bg-white;
    }

    .primary-outline--hover {
        @apply text-white border-black bg-black;
    }

    .secondary {
        @apply text-white border-purple bg-purple;
    }

    .secondary--hover {
        @apply text-purple border-purple bg-white;
    }

    .secondary-outline {
        @apply text-purple border-purple bg-white;
    }

    .secondary-outline--hover {
        @apply text-white border-purple bg-purple;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@import './config/base';
@import './config/containers';
@import './config/typography';

@import './components/buttons/button';
@import './components/forms/forms';
@import './components/icons/icon';
@import './components/modals/modal';
@import './components/pills/pills';
@import './components/recipeCard/recipe-card';
@import './components/toasts/toasts';
@import './components/toggles/toggles';

@import './layout/header/header';
@import './layout/navbar/navbar';
