// TO DO: Refactor CSS to neaten!

ul.pills li label, ul.pills--scroll li, ul.pills--plain li {
    @apply capitalize inline-flex bg-white border-2 border-grey-inactive text-grey-inactive m-0.5 px-4 py-1 rounded-lg w-fit cursor-pointer;
    white-space: nowrap;
    transition: all .4s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

ul.pills li label:hover{
    @apply scale-sm;
}

ul.pills li input[type="checkbox"] {
  @apply opacity-0 absolute;
}


// Plain pills with no effect
ul.pills--plain li {
    @apply primary shadow-lg m-0.5;
    transition: all .4s;
}

ul.pills--plain--secondary li {
    @apply secondary;
}


// Full width scrollable list of pill elements - https://codepen.io/quinlo/pen/ReMRXz
ul.pills--scroll {
    @apply w-full overflow-x-scroll flex py-1.5;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
        height: 3px;
    }

    &::-webkit-scrollbar-thumb {
        @apply rounded bg-black/[0.5] shadow-sm;
    }
}

ul.pills--scroll--secondary {
    &::-webkit-scrollbar-thumb {
        @apply bg-purple/[0.5];
    }
}

ul.pills--scroll li {
    @apply primary shadow-lg m-0.5;
    transition: all .4s;
}

ul.pills--scroll--secondary li {
    @apply secondary;
}

ul.pills--scroll li::after {
    @apply pl-2;
    display: inline-flex;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    content: "\f00d";
}


// Togglable list of pill elements - https://codepen.io/quinlo/pen/ReMRXz
ul.pills--toggle li {
    display: inline;
}

ul.pills--toggle li label::before {
    @apply pr-1;
    display: inline-flex;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    content: "\f067";
    transition: transform .4s ease-in-out;
}

ul.pills--toggle li input[type="checkbox"]:checked + label::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .4s ease-in-out;
}

ul.pills--toggle li input[type="checkbox"]:checked + label {
    @apply primary shadow-lg;
    transition: all .4s;
}

ul.pills--toggle--secondary li input[type="checkbox"]:checked + label {
    @apply secondary;
}