.auth-form {
	@apply border border-black-25 p-4 rounded-xl;

	width: 90vw;
	max-width: 450px;
	max-height: 85vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&__title {
		@apply text-center mb-4;
	}

	&__input-group {
		@apply flex flex-col mb-4;
	}

	&__input-label {
		@apply text-sm;
	}

	&__input-field {
		@apply border-black border-2 bg-white p-2 rounded w-full;
	}

	&__button {
		@apply w-full border border-black h-10 rounded-sm mt-4;
	}

	&__text {
		@apply text-center w-full flex flex-col gap-4 justify-around items-center;
	}
}
