.accordionChevron {
	transition: transform 300ms;
}
.accordionTrigger[data-state='open'] > .accordionChevron {
	transform: rotate(180deg);
}

.accordionContent {
	overflow: hidden;
	@apply p-2;
}
.accordionContent[data-state='open'] {
	animation: slideDown 300ms ease-out;
}
.accordionContent[data-state='closed'] {
	animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-accordion-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-accordion-content-height);
	}
	to {
		height: 0;
	}
}
